
.region-rows {
  border: 1px solid rgba($color: #1890ff, $alpha: 0.5);
}

.region-row {
  padding: 4px;
  margin: 2px 0;

  &.np-drop-active,
  &.np-drag-placeholder-wrapper {
      border: 1px solid rgba($color: #1890ff, $alpha: 0.375);
      background: rgba($color: #1890ff, $alpha: 0.125);
      border-radius: 2px;
  }

  &.region-row-placeholder-wrapper {}

  .widget-drop-placeholder.np-drag-placeholder {
      display: inline-block;
      height: 30px;
      min-width: 120px;
      background: rgba(24, 144, 255, 0.55);
      line-height: 32px;
      border-radius: 2px;
      margin-right: 8px;
  }
}

.widget-box {
  border: 1px solid #cccccc;
  height: 32px;
  line-height: 32px;
  background: #ffffff;
}