<div class="region-drop-container region-rows" npSortable npDragSort="false" (npSortReceive)="rowsReceive($event)">
  <ng-container *ngFor="let rowItems of widgets; let i = index;">
    <div class="region-drop-container region-row" npSortableItem npDragDisabled npSortable
      npSortConnectWith=".region-drop-container" [npSortData]="rowItems" (npSortReceive)="rowReceive($event)"
      (npSortRemove)="rowRemoveItem($event)" (npSortDrop)="rowDrop($event)">
      <div *ngFor="let widget of rowItems; let j = index;" npSortableItem [npDragData]="widget"
        class="widget-box d-inline-block mr-2">
        {{widget}}
        <div *npDragPlaceholder class="widget-drop-placeholder np-drag-placeholder">&nbsp;</div>
      </div>
    </div>
  </ng-container>

  <div class="region-row region-row-placeholder-wrapper" *npDragPlaceholderWrapper></div>
</div>