<h2>Portlets demo</h2>
<div class="gallery">
  <ul class="gallery-list regions" npSortable npDragSort="false" npSortConnectWith=".region-drop-container">
    <li *ngFor="let item of _widgets" class="gallery-item region" npSortableItem npDragMode="clone" [npDragData]="item">
      {{item.label}}
      <div class="item-preview" *npDragPreview>{{item.label}}</div>
    </li>
  </ul>
</div>

<div class="page-wrapper">
  <h5 class="help-title">CONTENT-HEADER</h5>
  <div class="content-region">
    <demo-row-region></demo-row-region>
  </div>

  <h5 class="help-title">CONTENT-BODY</h5>
  <div class="content-region">
    <demo-grid-region></demo-grid-region>
  </div>

  <h5 class="help-title">CONTENT-FOOTER</h5>
  <div class="content-region">
    <demo-col-region></demo-col-region>
  </div>
</div>