<h2>Portlets demo</h2>
<div class="gallery">
  <ul class="gallery-list regions" npSortable npDragSort="false" npSortConnectWith=".region">
    <li class="gallery-item region" npSortableItem npDragMode="clone" npDragData="Region A">
      Region A
      <div class="item-preview" *npDragPreview>Region A</div>
      <div class="gallery-item" *npDragPlaceholder>Region A P</div>
    </li>
    <li class="gallery-item region" npSortableItem npDragMode="clone" npDragData="Region B">
      Region B
      <div class="item-preview" *npDragPreview>Region B</div>
    </li>
  </ul>
  <ul class="gallery-list items" npSortable npDragSort="false" npSortConnectWith=".region">
    <li class="gallery-item item" npSortableItem npDragMode="clone" npDragData="Item 1">
      Item 1
      <div class="item-preview" *npDragPreview>Item 1</div>
    </li>
    <li class="gallery-item item" npSortableItem npDragMode="clone" npDragData="Item 2">
      Item 2
      <div class="item-preview" *npDragPreview>Item 2</div>
    </li>
  </ul>
</div>

<div class="page-wrapper">
  <h5 class="help-title">CONTENT-HEADER</h5>
  <div class="content-region">
  </div>

  <h5 class="help-title">CONTENT-BODY</h5>
  <div class="content-region">
    <div class="region row" npSortable (npSortDrop)="onContentRegionDrop($event)">
      <div *ngFor="let item of list2" class="region-widget" npSortableItem [npDragData]="item">
        {{item}}
        <div class="item-preview" *npDragPreview>Item 2</div>
      </div>
    </div>
  </div>
</div>